# AcharyaOS - GRUB configuration
# This file gets embedded into the bootable ISO. It tells GRUB what menu
# entry to show and what kernel file to load when chosen.
#
# timeout=0 means: don't wait for user input, boot immediately. Good for
# fast dev/test cycles in QEMU; we can make this configurable later.

serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input serial
terminal_output serial

set timeout=5
set default=0

menuentry "AcharyaOS" {
    multiboot2 /boot/acharyaos.bin
    boot
}
